<% provide(:title, "Results for #{@query}") %>
<h1>A Search</h1>
<p> Results for "<%= @query %>"</p>

<%= render "artist_search_results" %>
<%= render "album_search_results" %>
<%= render "recording_search_results" %>
