<% provide(:title, "Results for #{@query}") %>
<h3> Results for "<%= @query %>"</h3>

<%= render "artist_search_results" %>
<%= render "album_search_results" %>
<%= render "recording_search_results" %>
