<div id="artist-snapshot" class="row">
  <div id="artist-bio" class="col-lg-6">
    <% if @bio != nil %>
      <% @bio.each do |p| %>
        <p> <%= p %> </p>
      <%end%>
    <%else%>
      <p>No bio found </p>
    <% end %>
  </div>

  <div class="col-lg-6">
    <%art_images = @artist.images%>
    <%if art_images.count > 0 %>
    <div class="galleria">
      <% art_images.each do |image_url| %>
        <img src="<%=image_url%>"></img>
      <%end%>
    </div>
    <%else %>
      <p> No images found for <%=@artist.name %></p>
    <%end%>
  </div>
</div>
