<h3><%= @recording.name %> appears on: </h3>
<ul>
  <% @recording.unique_releases.each do |release| %>
    <%
    date = nil
    if release["first-release-date"].include? "-"
      release["first-release-date"].split("-").each do |part|
        if part.length == 4
          date = part
        end
      end
    else
      date = release["first-release-date"]
    end
    %>
    <li> <%= link_to release["title"] + " (" + date + ")", release_group_path(release["id"]) %> </li>
  <%end%>
</ul>
