<table>
  <tr>
    <th>No.</th>
    <th>Name</th>
    <th>Length</th>
    <th>Rating</th>
  </tr>
  <% @release_group.tracklist.each do |track| %>

    <tr>
      <td> <%= track["number"] %> </td>
      <td> <%= link_to track["recording"]["title"], recording_path(track["recording"]["id"]) %> </td>
      <td> <%= Time.at((track["recording"]["length"].to_i / 1000).to_i).utc.strftime("%H:%M:%S")%> </td>
      <td> <%= Review.where("reviews.link = ?", "/recording.#{track["recording"]["id"]}").average(:rating) %></td>
    </tr>
  <%end%>

</table>
