<h3>Reviews on <%= @release_group.name %></h3>
<table>
  <tr>
    <th> Rating </th>
    <th> Review </th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td><%= review.rating %></td>
    <td><%= review.review %></td>
  </tr>
<% end %>
</table>
