<% provide(:title, @artist.name) %>
<h1><%= @artist.name %></h1>

<% if @artist.type == "Group" %>
<%= render 'artist_members' %>
<%end%>

<%= render 'artist_releases' %>

<%if @artist.images.count > 0 %>
  <% @artist.images.each do |image_url| %>
    <img src="<%=image_url%>"></img>
  <%end%>
<%else %>
  <p> No images found for artist </p>
<%end%>
