<% provide(:title, @name) %>
<h1>Artist Name: <%= @name %></h1>
<img style="height: 300px; width: 300px;" src="<%=@imgurl %>"></img>

<% if @type == "Group" %>
<%= render 'artist_members' %>
<%end%>

<%= render 'artist_releases' %>
