<h1>Posts</h1>
<% @posts.each do |post| %>
  <p>
    <%= link_to(post.title, post.url, target: "_blank") %> - <%= link_to("Show Page", post) %>
  </p>
<% end %>
<p>
  <%= link_to("New Post", 'new' ) %>
</p>
