// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
#post_comment_form{
  // these two values would be used to hide the form unless user clicks 'reply' link
  display: none;
  visibility: hidden;
}

#comment_comment_form{
  display: none;
  visibility: hidden;
}
*/
